# Copyright (C) 2024  ANSSI
# SPDX-License-Identifier: CC0-1.0
input_pcaps/*
suricata/output/filestore
suricata/output/tcpstore
suricata/output/udpstore
suricata/output/*.json
suricata/output/*.log
webapp/database/*
.env

# Python
__pycache__
.ruff_cache
